@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Major+Mono+Display|Raleway|Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch|Fredericka+the+Great|Graduate|Gruppo|Londrina+Outline|Love+Ya+Like+A+Sister|Marcellus+SC|Megrim|Nixie+One|Poiret+One|Pompiere|UnifrakturMaguntia');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
	/*
	font-family: 'Raleway', sans-serif;
	font-family: 'Major Mono Display', monospace;
	font-family: 'Special Elite', cursive;
	font-family: 'Gochi Hand', cursive;

	font-family: 'Amatic SC', cursive;
	font-family: 'Poiret One', cursive;
	font-family: 'Fredericka the Great', cursive;
	font-family: 'Cabin Sketch', cursive;
	font-family: 'Marcellus SC', serif;
	font-family: 'Gruppo', cursive;
	font-family: 'Love Ya Like A Sister', cursive;
	font-family: 'Nixie One', cursive;
	font-family: 'Graduate', cursive;
	font-family: 'Pompiere', cursive;
	font-family: 'Lonz  drina Outline', cursive;
	font-family: 'Megrim', cursive;
	font-family: 'UnifrakturMaguntia', cursive;

	font-family: 'Montserrat', sans-serif;
	*/




#chromeFix { 
	display: block; 
	position: absolute; 
	width: 1px; 
	height: 100%; 
	top: 0px; 
	left: 0px; 
			}

			.lvpi {
					border: 1px solid red;
			}

					.lvpi a {
						color: red;
					}


		.bklst {
				border: 1px solid dodgerblue;
			}

					.bklst a {
						color: dodgerblue;
					}


					.sklwrk, .gal {
						align-items: center;
						border: 2px solid pink;
					}

			.nonprofit {
				border: 1px solid green;
			}
				.nonprofit a {
					color: limegreen;
				}


        	    		.flex-wrap {
        	    			display: flex;
            				flex-wrap: wrap;
            				justify-content: center;
            				align-items: center;
            				flex: 6;
            				align-content: space-around;
        	    			}





html{
	   transition: all 0.3s ease;
	font-size: 100%;
	margin: 0px;
	padding: 0px;

   font-family: 'Montserrat', sans-serif;
    color: white;
  	background: linear-gradient(#e66465, #9198e5, dodgerblue);
 
}


		html[data-theme='dark'] {
				  color: white;
				  background-color: black;

				 	}
				 	p [data-theme='dark']{
				 		line-height: 2.5;
				 		word-spacing: 2em;
				 	}
body {
	background: linear-gradient(#e66465, #9198e5, dodgerblue);
	margin: 0px;
	padding: 0px;
		}



	div {
		   transition:all 0.3s ease;
		display: block;
		min-width: 100%;
		float: none;
		border-radius: 30px;
		margin-bottom: 10px;
		background-color: rgba(0, 0, 0, 0);
		}

	section {
		width: 40%;
		margin: auto;
		margin: 2%;
		padding: 1%;
		border-radius: 30px;
		align-content: center;
		text-align: center;
		}





iframe {
	max-width: 90%;
	min-height: 50%;
	min-height: 300px;
	margin: auto;
	align-self: center;
	border-radius: 30px;
	border: 2px rgba(0, 0, 0, .2) solid;
}




footer {
	text-align: center;
	clear: left;
   background-color:  rgba(0, 0, 0, .6);
    display: block;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 4%;

}


		footer a {
			color: white;
			
		}




/* NAVIGATION */
	nav {
	font-family: 'Amatic SC', serif;
	font-size: 30px;
	margin: 0 auto;
	min-width: 80%;
	margin-top: 0px;
	position: fixed;
	display: inline-flex;
	text-align: center;
	padding: 1%;
	margin-bottom: 10%;
  transition: all 0.3s ease;
}

	nav a {
		margin: 0 auto;
		padding: 2%;
		background-color: rgba(0, 0, 0, .6);
		display: inline-block;
		border-radius: 40px;
		text-align: center;
			   transition: all 0.3s ease;
		}
		nav a:link{
			color: powderblue;
		}
		nav a:hover{
			color: white;
			background-color: rgba(0, 0, 0, .8);
			}

		nav a:visited{
			color: dodgerblue;
		}

/* TYPEOGRAPHY */		

p {
	line-height: 2;
	max-width: 500px;
	padding: 3%;
	margin: auto;
	text-align: center;
	font-size: 16px;
}

h1, h2, h3, h4 {
	text-align: center;
	margin: auto;
	text-shadow: 6px 7px 15px black;
}

	h1 {
		font-size: 10vw;
		padding-top: 5%;
		z-index: -1;
		padding-top: 300px;
	}

	h2 {
		font-size: 5vw;
		font-family: 'Fredericka the Great', serif;
	}

	h3 { 
		font-family: 'Cabin Sketch', cursive;
		font-size: 4vw;
	 }
	h4 {
		font-family: 'Playfair Display';
		}

a {
	text-decoration: none;
	color: pink;
	}



 span, small {
    font-family: 'Amatic SC', cursive;
}


/* GRAPHIC */

* {
    margin: 0;
    padding: 0;
}



	img {
		min-width: 20%;
		max-width: 40%;
		margin: auto;
	}




.parallax { 


    /* The image used */
    background-color: rgba(0, 0, 0, .5);
 		background-image: url(img/desertsun.jpg);

    /* Full height */
    max-height: 100%; 


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

	.parallax :active {
			min-height: 100%;
		}







/* DARK MODE 
@media (prefers-color-scheme: dark) {
				  img {
				    opacity: .75;
				    transition: opacity .5s ease-in-out;
				  }
				  img:hover {
				    opacity: 1;
				  }
				}

*/



		/* DARK MODE ------------------- ----------------DARKMODE---- */

@media (prefers-color-scheme: dark) {
		html {
			background-color: black;
			color: silver;
			}

			h1, h2, h3, h4, h5, h6 {
				color: white;
				}

	  img {
	    opacity: .75;
	    transition: opacity .5s ease-in-out;
		  }
	  img:hover {
	    opacity: 1;
		  }

	}









	/* MEDIA QUERIES ~~~ medium screens */
@media only screen and (min-width: 10px) and (max-width: 800px) {

.content {
	column-count: 1;
	display: block;
	}



		nav {
			min-width: 90%;
			margin-top: -1px;
			padding: 0px;
		}



	/*  TYPEOGRAPHY    */


		h1 {
			padding-top: 200px;
			font-size: 8vw;
			}

		h2 {
			font-size: 6vw;
			}

			p {
				font-size: 18px;
				}


					.lvpi a {
						color: red;
					}


					.bklst a {
						color: dodgerblue;
					}


		.sklwrk, .gal {
				display: block;
				border: 1px solid pink;
					}

		.w3c {
			margin: 0 auto;
		}


	/*  STRUCTURE  */


				div {
					display: block;
					min-width: 100%;
					float: none;
					border-radius: 30px;
					margin-bottom: 15px;
					}

				section {
					min-width: 90%;
					border-radius: 30px;
					margin-bottom: 5px;
					}

				img {
					min-width: 90%;
					}

				iframe {
					margin: auto;
					min-width: 90%;
					}
	}