@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch|Fredericka+the+Great|Love+Ya+Like+A+Sister|Marcellus+SC|Megrim|Nixie+One|Poiret+One|Pompiere|UnifrakturMaguntia|Montserrat&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

	/*
	font-family: 'Raleway', sans-serif;
	font-family: 'Major Mono Display', monospace;
	font-family: 'Special Elite', cursive;
	font-family: 'Gochi Hand', cursive;

	font-family: 'Amatic SC', cursive;
	font-family: 'Poiret One', cursive;
	font-family: 'Fredericka the Great', cursive;
	font-family: 'Cabin Sketch', cursive;
	font-family: 'Marcellus SC', serif;
	font-family: 'Love Ya Like A Sister', cursive;
	font-family: 'Nixie One', cursive;
	font-family: 'Pompiere', cursive;
	font-family: 'Londrina Outline', cursive;
	font-family: 'Megrim', cursive;
	font-family: 'UnifrakturMaguntia', cursive;

	font-family: 'Montserrat', sans-serif;
	*/

/* NOTE TO SELF
		! font minimalization to quicken load time.  */


#chromeFix { 
	display: block; 
	position: absolute; 
	width: 1px; 
	height: 100%; 
	top: 0px; 
	left: 0px; 
			}
.backincase {
	z-index: -2;
	  	background: linear-gradient(#e66465, #9198e5, dodgerblue);
}
/*White Box Problem temporrary fix.*/
				
html{
	font-size: 100%;
	margin: 0px;
	padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  	background: linear-gradient(#e66465, #9198e5, dodgerblue);
 	min-width: 100%;
 	align-items: center;
	}


		html[data-theme='dark'] {
				  	color: white;
				  	background-color: black;
				    min-width: 100%;
				    min-width: 100vw;
				 	}
				 	p [data-theme='dark']{
				 		line-height: 2.5;
				 		word-spacing: 2em;
				 		color: white;
				 		}
body {
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	min-width: 100vw;
    	}

   	.flex-wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			flex: 6;
			align-content: space-around;
			background-color: rgba(0, 0, 0, 0.01);
			}

		.flex-wrap p{
				float: right;
				padding: 10%;
				margin-bottom: 10%;
				max-width: 48%;
			}


		.nof {
			float: none;
			clear: both;
		}
		.nof p {
			float: none;
			clear: both;
		}

	    .nof p a img{
			float: none;
			clear: both;
		}



	div {
		min-height: 100%;
	    min-width: 100vw;
		display: block;
		min-width: 100%;
		border-radius: 30px;
		margin-bottom: 15%;
		margin: auto;
		background-color: rgba(0, 0, 0, 0);
		}

	section {
		width: auto;
		margin: 4%;
		padding: 2%;
		padding-bottom: 4%;
		margin-bottom: 15%;
		border-radius: 30px;
		border-width: 1px 1px 3px 1px;
		align-content: center;
		text-align: center;
		align-items: center;
		display: inline-block;
		background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .1));
		}

		section:hover{
 		  	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1));
						}

		section img{
			border-radius: 30px;
		}

		section footer {
			border-radius: 25px;
			}

		section footer:hover {
		 	background: linear-gradient(rgba(0, 0, 0, .01), rgba(0, 0, 0, .6));
			}



        	   .smlinks {
        	   	display: inline-flex;
        	   	text-align: center;
        	  		 }

        	   footer span {
        	   		display: inline-block;
        	   		padding: 1%;
        	   		margin: 1%;
        	   		justify-content: center;
        	   		width: 8rem;
        	   		border-radius: 30px;
        	   		border: solid 1px black;
		        	   }
				 footer span:hover {
				 	background-color: rgba(0, 0, 0, .4);
				 	color: yellow;
				 	}

				 footer span a:active {
				 	color: dodgerblue;
				 	background-color: rgba(0, 0, 0, .8);
					 }
				 footer span a:visited {
				 	color: pink;
					 }



					.gal a h2, .gal a h3, .gal a h5 {
						color: pink;
						border: pink;					

						}

					.tech a h3, .tech a h2, .tech a h5 {
						color: limegreen;
						border: limegreen;
						}

					.bklst a h3, .bklst a h2, .bklst a h5 {
						color: dodgerblue;
						border: dodgerblue;
						}


		article {
			margin-bottom: 20%;
			margin: 4%;
			}
			article footer {
				border-radius: 25px;
				}



		ul {
			 padding: 3%;
			 margin: 3%;
 			 list-style: none; 
 			 /* Remove default bullets */
				}

			ul li::before {
				  content: "\2022";  
				  /* Add content: \2022 is the CSS Code/unicode for a bullet */
				  color: dodgerblue;
				  font-size: 30px;
				  padding: 0px;
				  margin: 0px;
				  line-height: 1em;
					}

		li{
			padding: 1%;
			text-align: left;
			}




iframe {
	min-width: 32%;
	max-width: 50%;
	min-height: 50%;
	min-height: 400px;
	margin: auto;
	margin-top: 25%;
	align-self: center;
	border-radius: 30px;
	border: 1px rgba(0, 0, 0, .2) solid;
   }


header {
	margin-bottom: 8%;
}


footer {
	text-align: center;
	clear: both;
	float: none;
    background-color:  rgba(0, 0, 0, .6);
    display: block;
    min-width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 5%;
    margin-top: 6%;
    bottom: 0px;
    margin-bottom: 0px;
}


     footer a img {
		border-radius: 30px;
		margin: auto;
		margin-top: 4%;
		padding: 0%;
		max-width: 20%;
		max-width: 200px;
		height: auto;
		}

		footer a {
			color: white;
		}

				/*
				a:hover { background:	-webkit-linear-gradient(#e66465, #9198e5, dodgerblue); 
					-webkit-background-clip: text; 
					color:
					-webkit-text-fill-color: transparent;}

				a:active {color:
					-webkit-linear-gradient(dodgerblue, #9198e5, #e66465); 
					-webkit-background-clip: text; 
					-webkit-text-fill-color: transparent;}*/



form {

	padding: 10%;
	align-self: center;
	align-content: center;
	margin: auto;
}



/*  NAVIGATION */

nav {
	font-family: 'Megrim', cursive;
	font-size: 1.5rem;
	margin: auto;
	position: fixed;
	text-align: center;
	transition: all 0.4s ease;
    min-width: 98%;
    margin-top: 0px;
         margin-right: 5%;
         margin-left: 4%;
	}

	nav hr {
		display: none;
		}

	nav a {
		margin: auto;
		padding: 2%;
		background-color: rgba(0, 0, 0, .6);
		display: inline-block;
		border-radius: 40px;
		text-align: center;
	    transition: all 0.3s ease;
	    max-height: 3em;
	    position: -webkit-sticky; - Safari -
        position: sticky;
        top: 0;
		}

		nav a:link{
		display: inline;
		}
		nav a:hover{
			color: yellow;
			background-color: rgba(0, 0, 0, .8);
			font-size: 2.2rem;
			padding: 2%;
			border-radius: 60px;
			text-align: center;
			}

		nav a:active{
			color: pink;
			}

		nav a:visited{
			color: dodgerblue;
			}

		#navigation{
		  position:absolute;
		  bottom: 2%;
			}

		#navigation.fixed{
		  position:fixed;
		  bottom: 90%;
			}
/*

		img {
				padding: 1%;
				margin: 10%;
				background-color: rgba(0, 0, 0, .0);
	
				text-align: center;
				align-content: center;
				z-index: -1;
				display: inline-flex;
				position: fixed;

			}

			*/
	.homego {
  	background-image: url("images/pinklogo.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	z-index: -1;
    padding: 1%;
	margin: 10%;
	max-width: 50%;
	max-height: 50%;
	float: none;
		}



				/*.blog nav {
					position: fixed;
					bottom: 10%;
					margin: auto;
					text-align: center;
				}*/





/* TYPEOGRAPHY */		

p {
	line-height: 1.5em;
	max-width: 700px;
	min-width: 350px;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 5%;
	padding-top: 0px;
	margin: auto;
	margin-top: 0px;
	text-align: center;
	font-size: 1rem;
	}

	.content p {
		column-count: 2;
		max-width: 1800px;
		margin: auto;
		column-gap: 5%;
		}



h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 0px;
	padding: 3%;
	text-shadow: 6px 7px 15px black;
	}

	h1 {
		font-size: 10vw;
		padding-top: 5%;
		margin-bottom: 40%;
		z-index: -1;
		padding-top: 300px;
		padding-right: 0px;
		padding-left: 0px;
		}

		h2 {
			margin-top: 3%;
			font-size: 4rem;
			font-family: 'Fredericka the Great', serif;
			}

		h3 { 
			font-family: 'Londrina Outline', cursive;
			font-size: 3rem;
		 	}

		h4 {
			font-family: 'Playfair Display', serif;
			font-size: 2rem;
			margin-top: 5%;
			}

		h5 {
			font-family: 'Megrim', cursive;
			font-size: 2rem;
			}

 a {
	text-decoration: none;
	color: pink;
	}

	a:hover {
		color: yellow;
		}


	 span, small {
	    font-family: 'Amatic SC', cursive;
		}

	span {
		font-size: 2rem;
	    max-height: 3em;
	    display: inline-flex;
		}




 /* GRAPHIC */

 * {
    margin: 0;
    padding: 0;
	}


	 footer img {
		min-width: 50%;
		max-width: 80%;		
		border-radius: 30px;
		margin: auto;
		margin-top: 5%;

		}


		iframe {
		min-width: 50%;
		max-width: 70%;
		margin: auto;
		padding: 0px;
		}



 .parallax { 
	z-index: 0;
 	background-image: url("images/desertsun.jpg");

    /* Full height */
    max-height: 100%; 
    min-width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}




 /*Sizing & Transition*/
		*, *:after, *:before {
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
		}
		 
		* {
		  margin: 0;
		  padding: 0;
		  -webkit-transition: all 1s ease;
		  -moz-transition: all 1s ease;
		  -o-transition: all 1s ease;
		  -ms-transition: all 1s ease;
		  transition: all 1s ease;
		}






/* DARK MODE 
@media (prefers-color-scheme: dark) {
				  img {
				    opacity: .75;
				    transition: opacity .5s ease-in-out;
				  }
				  img:hover {
				    opacity: 1;
				  }
				}

*/



/* DARK MODE ------------------- ----------------DARKMODE---- */

@media screen and (prefers-color-scheme: dark) {
		html {
			background-color: rgba(0, 0, 0, .3);
			color: white;
			}



	  img {
	    opacity: .85;
	    transition: opacity .5s ease-in-out;
		  }
	  img:hover {
	    opacity: 1;
		  }

	}





/* MEDIA QUERIES 2/3 ~~~ Medium Screens */

@media screen and (min-width: 600px) and (max-width: 800px) {

		nav{
			display: inline-flex;
		}



  /* Typeography */
		p {
			line-height: 1.3rem;
		}
	.content p {
			column-count: 1;
			display: block;
			}
	.nof {
			float: none;
			clear: both;
		}


		h2 {
			margin-top: 8%;
			font-size: 8vw;
			font-family: 'Fredericka the Great', serif;
		}

		h3 { 
		font-family: 'Londrina Outline', cursive;
			font-size: 8vw;
		 }
		h4 {
			font-size: 5vw;
				}

			h5 {
				font-family: 'Megrim', cursive;
				font-size: 3vw;
			}
  .flex-wrap p {
				float: none;
				margin-top: 6%;
				margin-bottom: 8%;
				max-width: 70%;
			}

 footer img {
		min-width: 50%;
		max-width: 80%;		
		border-radius: 30px;
		margin: auto;
		margin-top: 5%;
		}
		section img{
			border-radius: 30px;
		}
 }








/* MEDIA QUERIES 3/3 ~~~ small screens */
@media screen and (max-width: 599px) {

 .content p{
	column-count: 1;
	display: block;
	}


		.nof, footer {
			float: none;
			clear: both;
		}


 /* NAVIGATION */
	nav {
		font-size: 1.6rem;
		min-width: 100%;
		max-width: 100%;
		position: fixed;
		text-align: center;
	    transition: all 0.3s ease;
	    display: block;
	    margin: auto;
	    margin-bottom: 0px;
	    background-color: rgba(0, 0, 0, .3);
	    padding: 2%;
		}

	nav a {
		font-size: 1.2rem;
		margin-bottom: 1%;
		padding: 1%;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 40px;
		text-align: center;
	    transition: all 0.2s ease;
	    max-height: 2em;
	    max-width: 1em;
	    min-width: 24%;
		}
		nav a:link{
			color: powderblue;
			display: block;
			}
		nav a:hover{
			color: yellow;
			background-color: rgba(0, 0, 0, .7);
			border-radius: 60px;
			max-width: 60%;
			}

		nav a:active{
			color: pink;
			}

		nav a:visited{
			color: dodgerblue;
			}

		#navigation{
		  position: absolute;
		  margin-bottom: 15%;
		}

		#navigation.fixed{
		  position: fixed;
		   bottom: 93%;
		  margin: auto;
		  display: inline-flex;
		  margin-top: 0px;
		  padding-top: 3%;
		}






	/*  TYPEOGRAPHY    */

		h1 {
			padding-top: 200px;
			font-size: 11vw;
			margin-bottom: 50px;
			}

		h2 {
			font-size: 9vw;
			padding: 2%;
			margin-top: 3%;
			}
		h3 {
			font-size: 6vw;
		}
		h4 {
			font-size: 6vw;
			margin-top: 25px;
			margin-bottom: 0px;
			padding-bottom: 0px;
		}
			p {
				font-size: 1em;
				line-height: 1.5em;
				}
   .flex-wrap p {
				float: none;
				margin-bottom: 10%;
				max-width: 70%;
			}


		.w3c {
			 margin: 0 auto;
		     border: 0;
             max-width: 88px;
             height: 31px;
             text-align: center;
		}

  


  /*  STRUCTURE  */

				div {
					display: block;
					min-width: 100%;
					float: none;
					border-radius: 30px;
					margin-bottom: 15px;
					}

				section {
					min-width: 90%;
					max-width: 99%;
					border-radius: 30px;
					margin-bottom: 10%;
					padding-bottom: 5%; 
					margin: 1%;
					margin-top: 150px;
					margin-bottom: 75px;
					display: block;
					background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1));

					}

					section:hover{
   						background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .1));
						}

				img {
					min-width: 90%;
					}
						section footer img {
							min-width: 50%;
							max-width: 80%;		
							border-radius: 30px;
							margin: auto;
							margin-top: 5%;

							}
		section img{
			border-radius: 30px;
		}

				iframe {
					margin: auto;
					min-width: 90%;
					}
	}


