@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Major+Mono+Display|Raleway|Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch|Fredericka+the+Great|Graduate|Gruppo|Londrina+Outline|Love+Ya+Like+A+Sister|Marcellus+SC|Megrim|Nixie+One|Poiret+One|Pompiere|UnifrakturMaguntia');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
	/*
	font-family: 'Raleway', sans-serif;
	font-family: 'Major Mono Display', monospace;
	font-family: 'Special Elite', cursive;
	font-family: 'Gochi Hand', cursive;

	font-family: 'Amatic SC', cursive;
	font-family: 'Poiret One', cursive;
	font-family: 'Fredericka the Great', cursive;
	font-family: 'Cabin Sketch', cursive;
	font-family: 'Marcellus SC', serif;
	font-family: 'Gruppo', cursive;
	font-family: 'Love Ya Like A Sister', cursive;
	font-family: 'Nixie One', cursive;
	font-family: 'Graduate', cursive;
	font-family: 'Pompiere', cursive;
	font-family: 'Lonz  drina Outline', cursive;
	font-family: 'Megrim', cursive;
	font-family: 'UnifrakturMaguntia', cursive;

	font-family: 'Montserrat', sans-serif;
	*/

/* NOTE TO SELF
		! font minimalization to quicken load time.  */


#chromeFix { 
	display: block; 
	position: absolute; 
	width: 1px; 
	height: 100%; 
	top: 0px; 
	left: 0px; 
			}

			.lvpi {
					border: 1px solid tomato;
			}

					.lvpi a {
						color: tomato;
					}


		.bklst {
				border: 1px solid dodgerblue;
			}

					.bklst a {
						color: dodgerblue;
					}


					.sklwrk, .gal {
						align-items: center;
						border: 2px solid pink;
					}

			.tech {
				border: 1px solid limegreen;
			}
				.tech a h3 {
					color: limegreen;
				}


        	    		.flex-wrap {
        	    			display: flex;
            				flex-wrap: wrap;
            				justify-content: center;
            				align-items: center;
            				flex: 6;
            				align-content: space-around;
        	    			}

        	   .smlinks img {
        	   	border-radius: 50px;
        	   	display: inline-flex;
        	   	text-align: center;
        	   	max-height: 20%;
        	   	max-width: 5%;
        	   }




html{
	   transition: all 2s ease;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  	background: linear-gradient(#e66465, #9198e5, dodgerblue);
 	  min-width: 100%;
 	align-items: center;
	 transition:all 2s ease;
	}


		html[data-theme='dark'] {
				  color: white;
				  background-color: black;
				    min-width: 100%;
				      min-width: 100vw;
				 	}
				 	p [data-theme='dark']{
				 		line-height: 2.5;
				 		word-spacing: 2em;
				 		color: white;
				 	}
body {
	margin: 0px;
	padding: 0px;
	  min-height: 100%;
	    min-width: 100vw;
	    size: cover;
		}



	div {
		 transition:all 2s ease;
		display: block;
		min-width: 100%;
		float: none;
		border-radius: 30px;
		margin-bottom: 10%;
		margin: auto;
		background-color: rgba(0, 0, 0, 0);
		}

	section {
		width: 40%;
		margin: 4%;
		padding: 1%;
		margin-bottom: 15%;
		border-radius: 30px;
		align-content: center;
		text-align: center;
		}
		section:hover{
   	background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .1));

						}

		section footer {
			border-radius: 25px;
			}
		section footer:hover {
	 	background: linear-gradient(rgba(0, 0, 0, .02), rgba(0, 0, 0, .6));
		}

		article {
			margin-bottom: 5%;
			padding: auto;
		}


		ul {
			padding: 3%;
			margin: 5%;
		}

		li{
			padding: 1%;
			text-align: left;
		}

		ul li ul {

		}




iframe {
	max-width: 90%;
	min-height: 50%;
	min-height: 300px;
	margin: auto;
	align-self: center;
	border-radius: 30px;
	border: 2px rgba(0, 0, 0, .2) solid;
}


header {
	margin-top: 1%;
	margin-bottom: 8%;
}


footer {
	text-align: center;
	clear: left;
   background-color:  rgba(0, 0, 0, .6);
    display: block;
    min-width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 5%;
    margin-top: 6%;
    bottom: 0px;
}

		footer a {
			color: white;
		}







/* NAVIGATION */
	nav {
	font-family: 'Major Mono Display', monospace;
	font-size: 2rem;
	margin: auto;
	position: fixed;
	text-align: center;
	padding: auto;
    transition: all 0.4s ease;
    min-width: 100%;
	}

	nav hr {
		display: none;
	}

	nav a {
		margin: 1% auto;
		padding: 1%;
		/* background-color: rgba(0, 0, 0, .6); */
		display: inline-block;
		border-radius: 40px;
		text-align: center;
	    transition: all 0.4s ease;
	    max-height: 3em;
	
		}

		nav a:link{
		background: linear-gradient(#e66465, #9198e5, dodgerblue);
		-webkit-background-clip: text;
		-text-fill-color: transparent;
		display: inline;
		}
		nav a:hover{
			color: yellow;
			background-color: rgba(0, 0, 0, .8);
			font-size: 3rem;
			padding: 2%;
			border-radius: 60px;
			}

		nav a:active{
			color: pink;
		}

		nav a:visited{
			color: dodgerblue;
		}

		#navigation{
		  position:absolute;
		  bottom: 5%;
		}

		#navigation.fixed{
		  position:fixed;
		  bottom: 85%;

		}


			.homego img {
				padding: 1%;
				margin: auto;
				background-color: rgba(0, 0, 0, .0);
				min-height: 70px;
				max-width: 70px;
				opacity: .85;
				text-align: center;
				}

				.homego:hover img {
					size: 130%;
						opacity: 1.0;
				}








/* TYPEOGRAPHY */		

p {
	line-height: 2.5em;
	max-width: 500px;
	padding: 3%;
	margin: auto;
	text-align: center;
	font-size: 1.2rem;
}

h1, h2, h3, h4 {
	text-align: center;
	margin: auto;
	text-shadow: 6px 7px 15px black;
}

	h1 {
		font-size: 11vw;
		padding-top: 5%;
		margin-bottom: 40%: 
		z-index: -1;
		padding-top: 300px;
		padding-right: 0px;
		padding-left: 0px;
	}

	h2 {
		font-size: 7vw;
		font-family: 'Fredericka the Great', serif;
	}

	h3 { 
		font-family: 'Cabin Sketch', cursive;
		font-size: 4vw;
	 }
	h4 {
		font-family: 'Playfair Display', serif;
		font-size: 3vw;
		}

a {
	text-decoration: none;
	color: pink;
	}



 span, small {
    font-family: 'Amatic SC', cursive;
}

	span {
		font-size: 2rem;
	}




/* GRAPHIC */

* {
    margin: 0;
    padding: 0;
}



	img {
		min-width: 20%;
		max-width: 40%;
		margin: auto;
	}

	section img {
		border-radius: 30px;
	}




.parallax { 
	z-index: -1;

    /* The image used */
 	background-image: url("Gallaries/img/lvout/desertsun.jpg");

    /* Full height */
    max-height: 100%; 
    min-width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

	.parallax img :hover {
			min-height: 100%;
		}



		/*Sizing & Transition*/
		*, *:after, *:before {
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
		}
		 
		* {
		  margin: 0;
		  padding: 0;
		  -webkit-transition: all 2s ease;
		  -moz-transition: all 2s ease;
		  -o-transition: all 2s ease;
		  -ms-transition: all 2s ease;
		  transition: all 2s ease;
		}






/* DARK MODE 
@media (prefers-color-scheme: dark) {
				  img {
				    opacity: .75;
				    transition: opacity .5s ease-in-out;
				  }
				  img:hover {
				    opacity: 1;
				  }
				}

*/



		/* DARK MODE ------------------- ----------------DARKMODE---- */

@media screen and (prefers-color-scheme: dark) {
		html {
			background-color: black;
			color: silver;
			}

			h1, h2, h3, h4, h5, h6 {
				color: white;
				}

	  img {
	    opacity: .75;
	    transition: opacity .5s ease-in-out;
		  }
	  img:hover {
	    opacity: 1;
		  }

	}


















	/* MEDIA QUERIES ~~~ small screens */
@media screen and (max-width: 700px) {

.content {
	column-count: 1;
	display: block;
	}



/* NAVIGATION */
	nav {
	font-family: 'Major Mono Display', monospace;
	font-size: 2rem;
	margin: 25%;
	min-width: 100%;
	max-width: 100%;
	position: fixed;
	text-align: center;
	padding: auto;
    transition: all 0.3s ease;
	}

	nav a {
		margin: 0px;
		padding: 2% auto;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 40px;
		text-align: center;
	    transition: all 0.3s ease;
	    max-height: 3em;
	    display: block;
	    max-width: 1em;
		}
		nav a:link{
			color: powderblue;
		}
		nav a:hover{
			color: yellow;
			background-color: rgba(0, 0, 0, .7);
			font-size: 3rem;
			padding: 3%;
			border-radius: 60px;
			max-width: 60%;
			}

		nav a:active{
			color: pink;
		}

		nav a:visited{
			color: dodgerblue;
		}

		#navigation{
		  position:absolute;
		  bottom: 30%;
		}

		#navigation.fixed{
		  position:fixed;
		  bottom: 50%;
		  left: 55%;
		}


			.homgo img {
				padding: 1%;
				margin: auto;
				background-color: rgba(0, 0, 0, .0);
				min-height: 70px;
				max-width: 70px;
				opacity: .85;
				text-align: center;
				z-index: -1;
				}

				.homgo img:hover {
					size: 130%;
					opacity: 1.0;
					}




	/*  TYPEOGRAPHY    */


		h1 {
			padding-top: 200px;
			font-size: 11vw;
			margin-bottom: 50px;
			}

		h2 {
			font-size: 10vw;
			}

			p {
				font-size: 1em;
				line-height: 2em;
				}


					.lvpi a {
						color: red;
					}


					.bklst a {
						color: dodgerblue;
					}

					.tech section {
						border-color: lime-green;
					}

					.tech h2, h3, h4, h5 {
						color: lime-green;
					}


		.sklwrk, .gal {
				display: block;
				border: 1px solid pink;
					}

		.w3c {
			 margin: 0 auto;
		     border: 0;
             max-width: 88px;
             height: 31px;
             text-align: center;
		}


	/*  STRUCTURE  */


				div {
					display: block;
					min-width: 100%;
					float: none;
					border-radius: 30px;
					margin-bottom: 15px;
					}

				section {
					min-width: 90%;
					border-radius: 30px;
					margin-bottom: 13%;
					padding-bottom: 5%; 
					margin: 1%;
					display: block;
					}

					section:hover{
   					background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1));
						}

				img {
					min-width: 90%;
					}

				iframe {
					margin: auto;
					min-width: 90%;
					}
	}