@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch|Fredericka+the+Great|Love+Ya+Like+A+Sister|Marcellus+SC|Megrim|Nixie+One|Poiret+One|Pompiere|UnifrakturMaguntia|Montserrat&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

	/*
	font-family: 'Raleway', sans-serif;
	font-family: 'Major Mono Display', monospace;
	font-family: 'Special Elite', cursive;
	font-family: 'Gochi Hand', cursive;

	font-family: 'Amatic SC', cursive;
	font-family: 'Poiret One', cursive;
	font-family: 'Fredericka the Great', cursive;
	font-family: 'Cabin Sketch', cursive;
	font-family: 'Marcellus SC', serif;
	font-family: 'Love Ya Like A Sister', cursive;
	font-family: 'Nixie One', cursive;
	font-family: 'Pompiere', cursive;
	font-family: 'Londrina Outline', cursive;
	font-family: 'Megrim', cursive;
	font-family: 'UnifrakturMaguntia', cursive;

	font-family: 'Montserrat', sans-serif;
	*/

/* NOTE TO SELF
		! font minimalization to quicken load time.  */


#chromeFix { 
	display: block; 
	position: absolute; 
	width: 1px; 
	height: 100%; 
	top: 0px; 
	left: 0px; 
			}

				
       	.flex-wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			flex: 6;
			align-content: space-around;
			}






html{
	transition: all 2s ease;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  	background: linear-gradient(#e66465, #9198e5, dodgerblue);
 	min-width: 100%;
 	align-items: center;
	transition:all 2s ease;
	}


		html[data-theme='dark'] {
				  	color: white;
				  	background-color: black;
				    min-width: 100%;
				    min-width: 100vw;
				 	}
				 	p [data-theme='dark']{
				 		line-height: 2.5;
				 		word-spacing: 2em;
				 		color: white;
				 		}
body {
	margin: 0px;
	padding: 0px;
	 min-height: 100%;
	 min-width: 100vw;
	 size: cover;
    	}



	div {
		  min-height: 100%;
	    min-width: 100vw;
		 transition:all 2s ease;
		display: block;
		min-width: 100%;
		float: none;
		border-radius: 30px;
		margin-bottom: 10%;
		margin: auto;
		background-color: rgba(0, 0, 0, 0);
		}

	section {
		width: auto;
		margin: 4%;
		padding: 1%;
		margin-bottom: 15%;
		border-radius: 30px;
		border-width: 1px 1px 3px 1px;
		align-content: center;
		text-align: center;
		align-items: center;
		display: inline-block;
		}

		section:hover{
 		  	background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .1));
						}

		section footer {
			border-radius: 25px;
			}

		section footer:hover {
		 	background: linear-gradient(rgba(0, 0, 0, .01), rgba(0, 0, 0, .6));
			}


        	   .smlinks {
        	   	display: inline-flex;
        	   	text-align: center;
        	  		 }

        	   footer span {
        	   		display: inline-block;
        	   		padding: 1%;
        	   		margin: 1%;
        	   		justify-content: center;
        	   		width: 8rem;
        	   		border-radius: 30px;
        	   		border: solid 1px black;
		        	   }
				 footer span:hover {
				 	background-color: rgba(0, 0, 0, .4);
				 	color: yellow;
				 	}

				 footer span a:active {
				 	color: dodgerblue;
				 	background-color: rgba(0, 0, 0, .8);
					 }
				 footer span a:visited {
				 	color: pink;
					 }



					.gal a h2, .gal a h3 {
						color: pink;
						border: pink;					

						}

					.tech a h3, .tech a h2 {
						color: limegreen;
						border: limegreen;
						}

					.bklst a h3, .bklst a h2 {
						color: dodgerblue;
						border: dodgerblue;
						}


		article {
			margin-bottom: 15%;
			margin: 4%;
			}
			article footer {
				border-radius: 25px;
				}



		ul {
			 padding: 3%;
			 margin: 3%;
 			 list-style: none; 
 			 /* Remove default bullets */
				}

			ul li::before {
				  content: "\2022";  
				  /* Add content: \2022 is the CSS Code/unicode for a bullet */
				  color: dodgerblue;
				  font-size: 30px;
				  padding: 0px;
				  margin: 0px;
				  line-height: 1em;
					}

		li{
			padding: 1%;
			text-align: left;
			}




iframe {
	max-width: 90%;
	min-height: 50%;
	min-height: 300px;
	margin: auto;
	align-self: center;
	border-radius: 30px;
	border: 2px rgba(0, 0, 0, .2) solid;
}


header {
	margin-bottom: 8%;
}


footer {
	text-align: center;
	clear: left;
   background-color:  rgba(0, 0, 0, .6);
    display: block;
    min-width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 5%;
    margin-top: 6%;
    bottom: 0px;
}

		footer a {
			color: white;
		}





/*  NAVIGATION */



nav {
	font-family: 'Megrim', cursive;
	font-size: 2rem;
	margin: auto;
	position: fixed;
	text-align: center;
	    transition: all 0.4s ease;
    min-width: 100%;
    margin-top: 0px;

	}

	nav hr {
		display: none;
		}

	nav a {
		margin: 1% auto;
		padding: 1%;
		background-color: rgba(0, 0, 0, .6);
		display: inline-block;
		border-radius: 40px;
		text-align: center;
	    transition: all 0.3s ease;
	    max-height: 3em;
	    position: -webkit-sticky; - Safari -
        position: sticky;
        top: 0;
		}

		nav a:link{
		/* background: linear-gradient(#e66465, #9198e5, dodgerblue);
		-webkit-background-clip: text;
		-text-fill-color: transparent; */
		display: inline;
		}
		nav a:hover{
			color: yellow;
			background-color: rgba(0, 0, 0, .8);
			font-size: 3rem;
			padding: 2%;
			border-radius: 60px;
			}

		nav a:active{
			color: pink;
			}

		nav a:visited{
			color: dodgerblue;
			}

		#navigation{
		  position:absolute;
		  bottom: 2%;
			}

		#navigation.fixed{
		  position:fixed;
		  bottom: 90%;
			}
/*

		img {
				padding: 1%;
				margin: 10%;
				background-color: rgba(0, 0, 0, .0);
	
				text-align: center;
				align-content: center;
				z-index: -1;
				display: inline-flex;
				position: fixed;

			}

			*/
	.homego {

  	  background-image: url("images/pinklogo.png");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	z-index: -1;
    	padding: 1%;
				margin: 10%;

							max-width: 50%;
				max-height: 50%;
				}



				.blog nav {
					position: fixed;
					bottom: 0;
					margin:auto;
					text-align: center;
				}





/* TYPEOGRAPHY */		

p {
	line-height: 2.5em;
	max-width: 560px;
	padding: 4%;
	margin: 5% auto;
	margin-top: 0px;
	text-align: center;
	font-size: 1.2rem;
	}

	.content p {
		column-count: 2;
		max-width: 1000px;
		margin: auto;
		column-gap: 12%;
		}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 0px;
	padding: 1%;
	text-shadow: 6px 7px 15px black;
	}

	h1 {
		font-size: 10vw;
		padding-top: 5%;
		margin-bottom: 40%;
		z-index: -1;
		padding-top: 300px;
		padding-right: 0px;
		padding-left: 0px;
		}

	h2 {
		margin-top: 10%;
		font-size: 10vw;
		font-family: 'Fredericka the Great', serif;
		}

	h3 { 
	font-family: 'Londrina Outline', cursive;
		font-size: 8vw;
	 }
	h4 {
		font-family: 'Playfair Display', serif;
		font-size: 7vw;
		margin-top: 10%;
		}

		h5 {
			font-family: 'Megrim', cursive;
			font-size: 3vw;
			}

a {
	text-decoration: none;
	color: pink;
	}

	a:hover {
		color: yellow;
		}


	 span, small {
	    font-family: 'Amatic SC', cursive;
		}

	span {
		font-size: 2rem;
	    max-height: 3em;
	    display: inline-flex;
		}




/* GRAPHIC */

* {
    margin: 0;
    padding: 0;
	}



	img {
		min-width: 20%;
		max-width: 40%;
		margin: auto;
		}

	section img {
		border-radius: 30px;
		}




.parallax { 
	z-index: -2;
 	background-image: url("images/desertsun.jpg");

    /* Full height */
    max-height: 100%; 
    min-width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}




/*Sizing & Transition*/
		*, *:after, *:before {
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
		}
		 
		* {
		  margin: 0;
		  padding: 0;
		  -webkit-transition: all 2s ease;
		  -moz-transition: all 2s ease;
		  -o-transition: all 2s ease;
		  -ms-transition: all 2s ease;
		  transition: all 2s ease;
		}






/* DARK MODE 
@media (prefers-color-scheme: dark) {
				  img {
				    opacity: .75;
				    transition: opacity .5s ease-in-out;
				  }
				  img:hover {
				    opacity: 1;
				  }
				}

*/



		/* DARK MODE ------------------- ----------------DARKMODE---- */

@media screen and (prefers-color-scheme: dark) {
		html {
			background-color: rgba(0, 0, 0, .3);
			color: white;
			}



	  img {
	    opacity: .85;
	    transition: opacity .5s ease-in-out;
		  }
	  img:hover {
	    opacity: 1;
		  }

	}





	/* MEDIA QUERIES 2/3 ~~~ Medium Screens */

@media screen and (min-width: 600px) and (max-width: 800px) {

		nav{
			display: inline-flex;
		}



/* typeography */
		p {
			line-height: 2rem;
		}
	.content p {
			column-count: 1;
			display: block;
			column-gap: 9%;
			}

		h2 {
			margin-top: 10%;
			font-size: 8vw;
			font-family: 'Fredericka the Great', serif;
		}

		h3 { 
		font-family: 'Londrina Outline', cursive;
			font-size: 7vw;
		 }
		h4 {
			font-size: 6vw;
				}

			h5 {
				font-family: 'Megrim', cursive;
				font-size: 2vw;
			}

}








	/* MEDIA QUERIES 3/3 ~~~ small screens */
@media screen and (max-width: 599px) {

.content p{
	column-count: 1;
	display: block;
	}





/* NAVIGATION */
	nav {
	font-family: 'Major Mono Display', monospace;
	font-size: 2rem;
	margin: 25%;
	min-width: 100%;
	max-width: 100%;
	position: fixed;
	text-align: center;
    transition: all 0.3s ease;
	}

	nav a {
		margin: 0px;
		padding: 2%;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 40px;
		text-align: center;
	    transition: all 0.3s ease;
	    max-height: 3em;
	    display: block;
	    max-width: 1em;
		}
		nav a:link{
			color: powderblue;
		}
		nav a:hover{
			color: yellow;
			background-color: rgba(0, 0, 0, .7);
			font-size: 3rem;
			padding: 3%;
			border-radius: 60px;
			max-width: 60%;
			}

		nav a:active{
			color: pink;
		}

		nav a:visited{
			color: dodgerblue;
		}

		#navigation{
		  position:absolute;
		  bottom: 30%;
		}

		#navigation.fixed{
		  position:fixed;
		  bottom: 50%;
		  left: 55%;
		}


			.homgo img {
				padding: 1%;
				margin: auto;
				background-color: rgba(0, 0, 0, .0);
				text-align: center;
				z-index: -1;
				}






	/*  TYPEOGRAPHY    */


		h1 {
			padding-top: 200px;
			font-size: 11vw;
			margin-bottom: 50px;
			}

		h2 {
			font-size: 10vw;
			}
		h3 {
			font-size: 7vw;
		}
		h4 {
			font-size: 6vw;
			margin-top: 25px;
			margin-bottom: 0px;
			padding-bottom: 0px;
		}
			p {
				font-size: 1em;
				line-height: 1.8em;
				}



		.w3c {
			 margin: 0 auto;
		     border: 0;
             max-width: 88px;
             height: 31px;
             text-align: center;
		}


	/*  STRUCTURE  */

				div {
					display: block;
					min-width: 100%;
					float: none;
					border-radius: 30px;
					margin-bottom: 15px;
					}

				section {
					min-width: 90%;
					border-radius: 30px;
					margin-bottom: 13%;
					padding-bottom: 5%; 
					margin: 1%;
					margin-top: 150px;
					margin-bottom: 75px;
					display: block;
					}

					section:hover{
   						background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1));
						}

				img {
					min-width: 90%;
					}

				iframe {
					margin: auto;
					min-width: 90%;
					}
	}


